<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SecureMoney</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <!-- Front Page -->
      <div class="front-page">
        <!-- Section 1 -->
        <section class="section-1">
          <div class="navbar-wrapper">
            <nav class="navbar">
              <div class="menu">
                <div class="menu-icon">
                  <div class="line line-1"></div>
                  <div class="line line-2"></div>
                  <div class="line line-3"></div>
                </div>
                <span>Menu</span>
              </div>
              <div class="navbar-logo logo">
                <span class="p-1"></span>
                <span class="p-2"></span>
                Detector
              </div>
              <ul class="nav-list">
                <li class="nav-list-item dropdown-hover">
                  <a href="https://form.jotform.com/233314837386058" class="nav-list-link show-dropdown"
                    >Transaction </a>
                  <ul class="nav-dropdown nav-dropdown-personal">
                    <!-- <li class="nav-dropdown-item dropdown-heading">
                      <a href="#" class="dropdown-heading-link">
                        <i class="fas fa-chevron-down"></i> Personal
                      </a>
                    </li>
                    <li class="nav-dropdown-item">
                      <a href="#" class="nav-dropdown-link-1"
                        >Detect Your Anomlie</a
                      >
                      
                    </li>      -->
                  </ul>
                </li>
                <li class="nav-list-item dropdown-hover">
                  <a href="#sectio-4" class="nav-list-link show-dropdown"
                    >Verification</a>
                  <!-- <ul class="nav-dropdown nav-dropdown-business">
                    <li class="nav-dropdown-item dropdown-heading">
                      <a href="#" class="dropdown-heading-link">
                        veri
                      </a>
                    </li>
                  </ul> -->
                </li>
                <li class="nav-list-item">
                  <a href="#" class="nav-list-link">About</a>
                </li>
              </ul>
              <!-- <div class="navbar-buttons">
                <button class="navbar-btn login-btn login">Login</button>
                <button class="navbar-btn signup-btn signup">Signup</button>
              </div> -->
            </nav>
          </div>
          <div class="banner">
            <h1 class="banner-heading">Transaction Anomlies Detector </h1>
            <p class="banner-paragraph">
              Online payment fraud
              Everything you need to know about how online fraud happens, chargebacks, fees and detection techniques.
              Payment fraud affected 82% of organizations in 2018
            </p>
            <button class="blue-btn">
              Learn More
            </button>
          </div>
        </section>
        <!-- End of Section 1 -->

        <!-- Section 2 -->
        <section class="section-2" style="background-color: aliceblue;">
          <h1 class="section-2-heading">
            Detector is for everyone Be Aware!
          </h1>
          <div class="services">
            <div class="service">
              <i class="fas fa-user-tie"></i>
              <h3 class="service-heading">Individuals</h3>
              <p class="service-paragraph">
                Easy Steps for detecting error individually
              </p>
              <!-- <button class="service-btn">Learn More</button> -->
            </div>
            <div class="service">
              <i class="fas fa-briefcase"></i>
              <h3 class="service-heading">Businesses</h3>
              <p class="service-paragraph">
                Anomaly detection can help retailers identify unusual patterns of behavior and use these insights to 
                improve operations and protect their business and customers.
              </p>
              <!-- <button class="service-btn">Learn More</button> -->
            </div>
            <div class="service">
              <i class="far fa-handshake"></i>
              <h3 class="service-heading">Partners</h3>
              <p class="service-paragraph">
                To reduce fraud losses, retailers get an overview of the transactions in each store
                to filter the ones that look suspicious deviating from what would be normal.
              </p>
              <!-- <button class="service-btn">Learn More</button> -->
            </div>
          </div>
        </section>
        <!-- End of Section 2 -->

        <!-- Section 3 -->
        <section class="section-3">
          <h1 class="section-3-heading">The world prefers Detector</h1>
          <div class="features">
            <div class="feature">
              <h3 class="feature-heading">Advanced Protection</h3>
              <p class="feature-paragraph">
                Implementing cutting-edge security measures to safeguard user data and financial transactions.
              </p>
            </div>
            <div class="feature">
              <h3 class="feature-heading">Fast Payments</h3>
              <p class="feature-paragraph">
                Offering a streamlined payment process to ensure quick and hassle-free transactions. Implementing technologies such as instant payment processing, reducing latency, and optimizing the overall payment flow.

              </p>
            </div>
            <div class="feature">
              <h3 class="feature-heading">Global Reach</h3>
              <p class="feature-paragraph">
                
Enabling users to transact seamlessly across borders.
 Supporting multiple currencies, languages, and payment 
 methods to ensure a truly global reach.
              </p>
            </div>
            <div class="feature">
              <h3 class="feature-heading">Easy Integration</h3>
              <p class="feature-paragraph">
                Providing a user-friendly and developer-friendly
                 platform that seamlessly integrates with various third-party 
                 services and applications.
              </p>
            </div>
            <div class="feature">
              <h3 class="feature-heading">Simple and Convenient</h3>
              <p class="feature-paragraph">
                Focusing on a user-centric design to ensure simplicity and convenience.
                 The user interface is intuitive, making it easy for
                  both novice and experienced users to navigate. 
              </p>
            </div>
            <div class="feature">
              <h3 class="feature-heading">24/7 Service</h3>
              <p class="feature-paragraph">
                Ensuring round-the-clock availability and customer support. 
                Users can transact at any time, and customerservice is available 24/7 
                to address queries, provide assistance, and resolve issues promptly.
              </p>
            </div>
          </div>
        </section>
        <!-- End of Section 3 -->
        <!-- Section 4 -->
        <section class="section-4" id="sectio-4">
          <h1 class="section-4-heading">Get started with Detector.</h1>
          <div class="section-4-content">
            <!-- <div class="section-4-img-wrapper">
              <img src="images/macbook.png" />
            </div> -->
            <div id="form-main">
              <div id="form-div">
                <form class="form" action="{{url_for('predict')}}"  method="post" id="form1">
                  <!-- action="{{url_for('predict')}}" -->
                  <p class="name">
                    <input name="Transaction_Amount" type="number" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Transaction_Amount" id="Transaction_Amount" />
                  </p>
                  
                  <p class="email">
                    <input name="Average_Transaction_Amount" type="number" class="validate[required,custom[email]] feedback-input" id="Average_Transaction_Amount" placeholder="Average_Transaction_Amount" />
                  </p>
                  
                  <p class="text">
                    <input name="Frequency_of_Transactions" type="number" class="validate[required,custom[email]] feedback-input" id="Frequency_of_Transactions" placeholder="Frequency_of_Transactions" />
                  </p>
                  
                  
                  <div class="submit">
                    <input type="submit" value="Predict" id="button-blue"/>
                    <!-- <button type="submit" >Predict</button>
                    <div class="ease"></div> -->
                  </div>
                </form>
                
              </div>
              </div>
          </div>
        </section>
        <div class="res" style="color: rgb(17, 16, 16)" he>  
          <br>
          <h5>{{pred}}</h5>
              <br>
        <!-- End of Section 4 -->

        <!-- Section 5 -->
        
        <!-- End of Section 5 -->
      </div>
      <!-- End of Front Page -->

      
      </div>
    </div>
    <!-- <script src="script.js"></script> -->
  </body>
</html>
