<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Your Transection in not Verified</h1>
    </center>
    <center>
        <h3>Anomaly detected: This transaction is flagged as an anomaly.</h3>
    </center>
    <center>
        <div class="goback">
            <a href="index.html"><h2><b>Home Page</b></h2></a>
        </div>
    </center>
</body>
</html>