<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='sty1.css')}}">
</head>
<body>
    <center>
        <h1>Your Transection is Verify</h1>
    </center>
    <!-- <center>
        <img src="verify.jpeg" alt="">
    </center> -->
    <!-- <div class="img1"></div> -->
    <center>
        <h3>No anomaly detected: This transaction is normal.</h3>
    </center>
    <center>
        <div class="goback">
            <a href="index.html"><h2><b>Home Page</b></h2></a>
        </div>
    </center>
</body>
</html>